<div class="container">
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <a href="#" class="navbar-brand brandMargin m-2">Prueba Arus</a>
    <form class="form-inline navFormButtons p-2">
      <a class="btn btn-success navFormButtons" routerLink="owners">Propietarios</a>
      <a class="btn btn-success navFormButtons" routerLink="vehicles">Vehiculos</a>
      <a class="btn btn-success navFormButtons" routerLink="applications">Solicitudes</a>
    </form>
  </nav>
</div>

<div class="top">
  <router-outlet></router-outlet>
</div>